

@font-face {
  font-family: 'Muller';
  font-weight: 300;
  font-style: normal;

  src: local('MullerLight'),
  url('../fonts/MullerLight.woff2') format('woff2'),
  url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  font-weight: 400;
  font-style: normal;

  src: local('MullerRegular'),
  url('../fonts/MullerRegular.woff2') format('woff2'),
  url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  font-weight: 500;
  font-style: normal;

  src: local('MullerMedium'),
  url('../fonts/MullerMedium.woff2') format('woff2'),
  url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  font-weight: 700;
  font-style: normal;

  src: local('MullerBold'),
  url('../fonts/MullerBold.woff2') format('woff2'),
  url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;

  background-color: #f1f1f1;

  font-family: 'Muller', sans-serif;
  font-weight: 400;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.btn {
  padding: 13px 20px;

  cursor: pointer;

  color: #c93;
  border: 1px solid #c93;
  border-radius: 10px;
  background: transparent;

  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.btn-reset {
  padding: 0;

  cursor: pointer;

  border: 0;
  background-color: transparent;
}

.link-reset {
  text-decoration: none;
}

.flex {
  display: flex;
}

.mb-4 {
  margin-bottom: 20px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 40px;

  color: #333;

  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

/* header */

.header {
  margin: 30px 0 70px;
}

.header-first-line {
  margin-bottom: 30px;
}

.header-first-line,
.header-second-line {
  justify-content: space-between;
  align-items: center;
}

.header-line-block {
  align-items: center;
}

.header-logo {
  margin-right: 40px;
}

.header-phone {
  color: #666;

  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.header-link-user {
  padding-left: 28px;

  color: #c93;
  background-image: url('../img/header_arrow.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 21px 12px;

  font-size: 16px;
  line-height: 16px;
}

.header-link {
  color: #666;

  font-size: 16px;
  line-height: 16px;
}

.header-second-line {
  border-radius: 15px ;
  background-color: #fff;
}

.header-list {
  position: relative;

  width: 743px;
  padding-top: 27px;
  padding-left: 45px;

  flex-wrap: wrap;
}

.header-list::after {
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 10px;

  content: '';

  border-right: 1px  solid #e1e1e1;
}

.header-list-item {
  padding-right: 45px;
  padding-bottom: 27px;
}

.header-list-item:last-child {
  padding-right: 56px;
}

.header-btn-block {
  min-width: 426px;
  padding-right: 45px;
}

.header-btn:first-child {
  margin-right: 25px;
  margin-left: 57px;
}

/* special-offers */

.special-offers-block {
  margin-bottom: 70px;
}

.special-offers-list {
  flex-wrap: wrap;
  flex-basis: 573px;
}

.special-offers-item {
  width: 100%;
  min-height: 258px;

  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.special-offers-title {
  max-width: 300px;
  margin: 40px 0 15px 40px;

  color: #fff;

  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
}

.special-offers-price {
  margin: 0;
  margin-bottom: 47px;
  margin-left: 40px;

  color: #fff;

  font-size: 20px;
  line-height: 20px;
}

.special-offers-more {
  margin: 0;
  margin-bottom: 40px;
  margin-left: 40px;
  padding-right: 15px;

  color: #fc6;
  background-image: url('../img/offer-arrow.svg');
  background-repeat: no-repeat;
  background-position: right center;

  font-size: 16px;
  line-height: 16px;
}


.special-offers-list:first-child {
  margin-right: 23px;
}

.special-offers-item1 {
  margin-bottom: 23px;

  background-image: url('../img/special-img1.jpg');
}

.special-offers-item2 {
  background-image: url('../img/special-img3.jpg');
}

.special-offers-item2 .special-offers-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
}

.special-offers-item2 .special-offers-price {
  opacity: 0.8;

  font-size: 30px;
  line-height: 30px;
}

.special-offers-item3 {
  background-image: url('../img/special-img2.jpg');
}


.special-offers-item2 .special-offers-title {
  margin: 0;
  margin: 211px 0 15px 40px;
}


/* about-us */

.about-us {
  margin-bottom: 70px;
}

.about-us-title {
  margin-bottom: 11px;
}

.about-us-desc {
  max-width: 888px;
  margin: 0;

  color: #000;

  font-size: 16px;
  line-height: 200%;
}

/* services */
.services {
  margin: 0;
  margin-bottom: 70px;
}

.services-list {
  flex-wrap: wrap;
  flex-basis: 573px;
}

.services-list-item {
  padding-top: 190px;

  border-radius: 20px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 573px 165px;

  flex-basis: 573px;
}


.services-list-item:nth-child(odd) {
  margin-right: 20px;
}

.services-list-item-img1,
.services-list-item-img2 {
  margin-bottom: 20px;
}

.services-list-item-img1 {
  background-image: url('../img/services-img1.jpg');
}

.services-list-item-img2 {
  background-image: url('../img/services-img2.jpg');
}

.services-list-item-img3 {
  background-image: url('../img/services-img3.jpg');
}

.services-list-item-img4 {
  background-image: url('../img/services-img4.jpg');
}

.services-link {
  display: inline-block;

  margin: 0;
  margin-left: 45px;
  padding-right: 20px;

  color: #c93;
  background-image: url('../img/offer-arrow.svg');
  background-repeat: no-repeat;
  background-position: right center;

  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
}

.services-desc {
  max-width: 402px;
  margin: 0;
  margin-bottom: 50px;
  margin-left: 45px;

  font-size: 16px;
  line-height: 200%;
}

/* advantages */

.advantages {
  margin: 0;
  margin-bottom: 60px;
}

.advantages-title {
  margin-bottom: 20px;
}

.advantages-list {
  flex-wrap: wrap;
}

.advantages-list-item {
  border-radius: 15px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 45px 60px;

  flex-basis: 275px;
}

.advantages-list-item:not(:nth-child(4n)) {
  margin-right: 20px;
}

.advantages-list-item-img1 {
  background-image: url('../img/advantages-img1.jpg');
}

.advantages-list-item-img2 {
  background-image: url('../img/advantages-img2.jpg');
}

.advantages-list-item-img3 {
  background-image: url('../img/advantages-img3.jpg');
}

.advantages-list-item-img4 {
  background-image: url('../img/advantages-img4.jpg');
}

.advantages-list-item-img5 {
  background-image: url('../img/advantages-img5.jpg');
}

.advantages-list-item-img6 {
  background-image: url('../img/advantages-img6.jpg');
}

.advantages-list-item-img7 {
  background-image: url('../img/advantages-img7.jpg');
}

.advantages-list-item-img8 {
  background-image: url('../img/advantages-img8.jpg');
}

.advantages-desc {
  max-width: 188px;
  margin: 0;
  margin: 130px 42px 41px 45px;

  color: #000;

  font-size: 16px;
  line-height: 200%;
}

/* placement */

.placement {
  margin: 0;
  margin-bottom: 70px;
}

.placement-list {
  flex-wrap: wrap;
}

.placement-list-item:not(:nth-child(3n)) {
  margin-right: 20px;
}

.placement-list-item {
  overflow: hidden;

  border-radius: 15px;
  background-color: #fff;

  font-size: 0;

  flex-basis: 374px;
}

.placement-list-item-img {
  margin-bottom: 35px;
}

.placement-info {
  margin: 0 45px 16px;

  align-items: center;
}

.placement-price-text {
  margin: 0;
  margin-right: 45px;

  font-size: 16px;
  line-height: 16px;
}

.placement-price {
  font-size: 20px;
  line-height: 20px;
}

.placement-rating img:not(:last-child) {
  margin-right: 6px ;
}

.placement-name {
  margin: 0 0 15px 45px;

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.placement-sity {
  margin: 0 20px 20px 45px;

  color: #999;

  font-size: 16px;
  line-height: 16px;
}

.placement-btn {
  margin-bottom: 45px;
  margin-left: 45px;
}

.placement-list-item-img9 {
  background-image: url('../img/placement-img9.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.placement-link-all {
  display: block;

  max-width: 265px;
  margin: 373px auto 0;

  color: #fff;
  background-image: url('../img/offer-arrow2.svg');
  background-repeat: no-repeat;
  background-position: right center;

  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
}

/* select-tour */
.select-tour {
  margin-bottom: 70px;
}

.section-tour {
  padding: 38px 45px 71px 45px;

  border-radius: 15px;
  background: #e9e9e9;
}

.select-tour-title {
  margin-left: 0;

  color: #000;

  font-size: 40px;
  line-height: 40px;
}

.form-field-reset {
  border: none;
}

.form-tour {
  border-radius: 15px;
  background-color: #fff;

  align-items: center;
}

.form-tour-list {
  margin-top: 31px;
  padding-left: 28px;

  flex-wrap: wrap;
}

.form-tour-item {
  position: relative;
}

.form-tour-item {
  margin-right: 20px;
  margin-bottom: 32px;
  padding-right: 20px;
}

.form-tour-item:last-child {
  padding-right: 30px;
}

.form-tour-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  content: '';

  border: 1px solid #e1e1e1;
}

.form-field-block {
  flex-direction: column;
}

.form-label {
  margin-bottom: 15px;

  font-size: 12px;
  line-height: 12px;
}

.form-field {
  width: 121px;

  color: #000;

  font-size: 16px;
  line-height: 16px;
}

.form-field-sity,
.form-field-country {
  width: 160px;
}

.form-field-days,
.form-field-tourists {
  border-bottom: 1px solid #ccc;
}

.tour-btn {
  margin: 0 20px;
  padding: 13px 30px;
}

/* section-contact */

.section-contact {
  margin-bottom: 19px;
}

.contact-box {
  padding: 45px;

  border-radius: 15px;
  background-color: #fff;
}

.contact-box-info {
  margin-right: 50px;
}

.contact-box-item {
  margin-bottom: 25px;

  border-bottom: 1px solid #c4c4c4 ;
}

.contact-box-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;

  flex-shrink: 0;
  flex-basis: 145px;
}

.contact-box-text {
  margin: 0;

  color: #000;

  font-size: 16px;
  line-height: 150%;
}

.contact-box-offset {
  margin-bottom: 23px;
}

.contact-link {
  display: inline-block;

  color: #c93;

  font-size: 16px;
  line-height: 150%;
}

.contact-email-desc {
  margin: 0;

  color: #999;

  font-size: 16px;
  line-height: 150%;
}

/* footer */

.section-footer {
  margin-bottom: 15px;
}

.footer-content {
  position: relative;

  padding: 44px 51px 46px 52px;

  border-radius: 15px;
  background-color: #333;

  justify-content: space-between;
}

.footer-content::after {
  position: absolute;
  right: 183px;
  bottom: -23px;

  width: 231px;
  height: 231px;

  content: '';

  background-image: url('../img/sun.svg');
  background-repeat: no-repeat;
  background-size: contain;;
}

.footer-content-main {
  margin-bottom: 20px;
}

.footer-copy {
  max-width: 320px;
  max-height: 178px;
  margin-right: 102px;
}

.footer-copy-text {
  margin: 0;

  color: #fff;

  font-size: 16px;
  line-height: 190%;
}

.footer-copy-text:first-child {
  margin-bottom: 30px;
}

.footer-contact {
  max-width: 358px;
  margin-right: 260px;
}

.footer-contact-text {
  margin: 0;
  margin-bottom: 10px;

  color: #fff;

  font-size: 16px;
  line-height: 190%;
}

.footer-box-offset {
  margin-bottom: 15px;
}

.footer-link {
  display: block;

  color: #c93;

  font-size: 16px;
  line-height: 150%;
}

.footer-icon {
  display: block;

  width: 25px;
  height: 25px;
  margin-bottom: 20px;

  background-repeat: no-repeat;
}

.footer-icon:last-child {
  margin-bottom: 0;
}

.footer-icon-owl {
  background-image: url('../img/owl.svg');
}

.footer-icon-twitter {
  background-image: url('../img/twitter.svg');
}

.footer-icon-facebook {
  background-image: url('../img/facebook.svg');
}

.footer-icon-vk {
  background-image: url('../img/vk.svg');
}

.footer-icon-instagram {
  background-image: url('../img/instagram.svg');
}
